<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docflow</title>
</head>
<body>
<h1>Docflow</h1>
<table>
    <tr><td><text th:text = "${user.name}">name</text> <text th:text = "${user.surname}">surname</text></td></tr>
    <tr><td th:text = "${user.position}">position</td></tr>
    <tr><td th:text = "${user.department}">department</td></tr>
    <tr><td th:text = "${user.email}">email</td></tr>
    <tr><td th:text = "${user.phone}">phone</td></tr>
</table>
<div id="tasks">
    <h2>Мои задачи</h2>
    <div th:if="${user.tasks.isEmpty()}">
        Нет задач
    </div>
    <ul th:each="task: ${user.getThreeTasks()}">
        <li th:text="${task.name}">task</li>
    </ul>
</div>
</body>
</html>