<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
        <form id="registration" action="http://localhost:9090/usersList">

            <label for="username">Имя пользователя:</label>
            <input name="username" type="text" v-model="user.username"><br/>
            <label for="password">Пароль:</label>
            <input name="password" type="text" v-model="user.password"><br/>
            <label for="name">Имя:</label>
            <input name="name" type="text" v-model="user.name"><br/>
            <label for="surname">Фамилия</label>
            <input type="text" v-model="user.surname"><br/>
            <label for="surname">Должность</label>
            <input name="position" type="text" v-model="user.position"><br/>
            <label for="department">Отдел</label>
            <input name="department" type="text" v-model="user.departmentName"><br/>
            <label for="email">Почта:</label>
            <input name="email" type="text" v-model="user.email"><br/>
            <label for="phone">Телефон:</label>
            <input name="phone" type="text" v-model="user.phone"><br/>
            <input @click="registerUser()" type="submit" value="Зарегестрировать">


            <p>{{user.name}}</p>
        </form>

<script src="/js/registration.js"></script>

</body>
</html>